<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Pedido</title>
</head>

<body>
    <h1>Crear Pedido</h1>
    <form action="{% url 'crear_pedido_api' %}" method="post">
        {% csrf_token %}
        <label for="producto">Producto:</label>
        <select name="producto" id="producto">
            {% for producto in productos %}
            <option value="{{ producto.id }}">{{ producto.nombre }}</option>
            {% endfor %}
        </select><br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" min="1" required><br>
        <button type="submit">Crear Pedido</button>
    </form>
</body>

</html>