{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Listado de Categorías</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for categoria in categorias %}
      <tr>
        <td>{{ categoria.nombre }}</td>
        <td>
          <a href="{% url 'editar_categoria' categoria.id %}">Editar</a>
          <a href="#">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
