{% extends 'base.html' %}
{% block content %}
  <h2>Listado de Items de Pedido</h2>
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.cantidad }}</td>
        <td>${{ item.precio }}</td>
        <td>
          <a href="{% url 'editar_item_pedido' item.id %}">Editar</a>
          <a href="#">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
